main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 96px);
}

footer {
  align-self: flex-end;
  height: 40px;
}
.image {
  margin-top: -70px;
}

.btn-outline-light.facebook:hover {
  background: blue;
  color: white;
}

.btn-outline-light.instagram:hover {
  background: rgb(81, 91, 212);
  background: linear-gradient(
    80deg,
    rgba(81, 91, 212, 0.8995973389355743) 0%,
    rgba(129, 52, 175, 0.9) 24%,
    rgba(221, 42, 123, 0.9) 50%,
    rgba(245, 133, 41, 0.9) 100%
  );
  color: white;
}

.av {
  display: flex;
  justify-content: center;
  align-items: center;
}
