* {
  box-sizing: border-box;
}

nav {
  width: 100%;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1em;
  align-self: flex-end;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

main {
  padding: 1em;
}

.card:hover {
  box-shadow: rgba(236, 82, 82, 0.35) 0px 5px 15px;
}

.image:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.image {
  margin-top: -70px;
}

.btn-outline-light.facebook:hover {
  background: blue;
  color: white;
}

.btn-outline-light.instagram:hover {
  background: rgb(81, 91, 212);
  background: linear-gradient(
    80deg,
    rgba(81, 91, 212, 0.8995973389355743) 0%,
    rgba(129, 52, 175, 0.9) 24%,
    rgba(221, 42, 123, 0.9) 50%,
    rgba(245, 133, 41, 0.9) 100%
  );
  color: white;
}

.av {
  display: flex;
  justify-content: center;
  align-items: center;
}
